@import 'globalRubens.css';

html{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fff;
    color:#000;
    margin: 0;
}
.link{
    width: 1200px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
}

.link a:link, 
      a:hover, 
      a:visited{
    text-decoration: none;
    color: #000;
}
.link svg{
    float: left;
}
.link p{
    margin-top: 0;
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}
.Planos{
    width: 1400px;
    height: 673px;
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Planos svg{
    margin-top: 60px;
}
.Planos h1{
    width: 249px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px; 
}
.Planos button{
    width: 249px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #C4C4C4;
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.itensPlano P{
    width: 288px;
    height: 20px;
    margin: 12px  auto;
    background: #C4C4C4;
    padding-top: 12px;
    padding-bottom: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;

}

.Serrana{
    width: 348px;
    height: 500px;
    margin-top: 86.5px;
    margin-left: 128px;
    margin-right: 46px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    float: left;
    box-sizing: border-box;
    border-radius: 25px;
}
.Rarpy{
    width: 348px;
    height: 673px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    float: left;
    box-sizing: border-box;
    border-radius: 25px;
}
.Açor{
    width: 348px;
    height: 550px;
    margin-top: 61.5px;
    margin-left: 48px;
    margin-right: 128px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    float: left;
    box-sizing: border-box;
    border-radius: 25px;
}
.valor{
    width: 170px;
    margin-left: auto;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 23px;
    text-align: center;
    align-items: center;
    height: 40px;
}
.valor p{
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    float: left;
}
.valor h1{
    width: 98px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    float: left;
}