@import 'globalRubens.css';

html{
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fff;
    color:#000;
    margin: 0;
}
.todo{
    width: 1400px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
}
.link{
    margin-top: 72px;
    margin-left: 128px;
    width: 46px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.24);
    border-radius: 15px;
}

.link a:link, 
      a:hover, 
      a:visited{
    text-decoration: none;
    color: #000;
}
.link svg{
    margin: 15px 18px 13px 18px;
}
.Planos{
    width: 1400px;
    height: 673px;
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Planos img{
    width: 120px;
    height: 120px;
    margin-top: 30px;
}
.Planos h1{
    width: 249px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px; 
}
.Planos button{
    width: 249px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #C4C4C4;
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.itensSerrana P,
.itensRarpy P,
.itensAçor P{
    width: 288px;
    height: 20px;
    margin: 12px  auto;
    padding-top: 12px;
    padding-bottom: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.itensSerrana P{
    background: #f0f0f0;
}
.itensRarpy P{
    background: #e8ecf5;
}
.itensAçor P{
    background: #ffd5af;
}
.Serrana{
    width: 348px;
    height: 500px;
    margin-top: 86.5px;
    margin-left: 128px;
    margin-right: 46px;
    float: left;
    background: #FFFFFF;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
}
.Serrana button{
    color: #FFF;
    border: transparent;
    background: #444444;
    box-shadow: 0px 10px 15px rgba(68, 68, 68, 0.4);
    border-radius: 100px;
}

.Rarpy{
    width: 348px;
    height: 673px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    background: #FFFFFF;
    box-shadow: 15px 15px 15px rgba(67, 97, 238, 0.13);
    border-radius: 25px;
}
.Rarpy button{
    color: #FFF;
    border: transparent;
    background: #4361EE;
    box-shadow: 0px 7px 15px #4361EE;
    border-radius: 100px;
}
.Açor{
    width: 348px;
    height: 550px;
    margin-top: 61.5px;
    margin-left: 48px;
    margin-right: 128px;
    float: left;
    background: #FFFFFF;
    box-shadow: 15px 15px 15px rgba(238, 125, 20, 0.1);
    border-radius: 25px;
}
.Açor button{
    color: #FFF;
    border: transparent;
    background: #FF7A00;
    box-shadow: 0px 10px 15px rgba(255, 122, 0, 0.4);
    border-radius: 100px;
}
.valor{
    width: 170px;
    margin-left: auto;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 23px;
    text-align: center;
    align-items: center;
    height: 40px;
}
.valor p{
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    float: left;
}
.valor h1{
    width: 98px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    float: left;
}