@import 'globalRubens.css';

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fff;
    color:#000;
    margin: 0;
}
.todo{
    width: 1130px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}
.link{
    height: 31px;
    margin-bottom: 53px;
    border: 1px solid #fff;
    clear:both;
}

.link a:link, 
      a:hover, 
      a:visited{
    text-decoration: none;
    color: #000;
}
.link svg{
    margin-top: 6px;
    float: left;
}
.link p{
    width: 305px;
    margin-top: 0;
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    align-items: center;
    letter-spacing: -0.015em;
}
.bloco{
    width: 1120px;
    height: 700px;
    margin: 48px auto 48px auto;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0 50px;
}
.status{
    width: 247px;
    margin-top: 50px;
    float: left;

}
.status p{
    margin: 0px;
    margin-top: 3px;
    margin-left: 27px;
    float: left;

    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    align-items: center;
    letter-spacing: -0.015em;

}
.bola{
    width: 43px;
    height: 43px;
    background: #49D983;
    border-radius: 50%;
    float: left;
}
.text{
    width: 318px;
    height: 55px;
    margin-top: 50px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    padding-left: 22px;
    float: left;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
}
.text270{
    width: 215px;
    height: 55px;
    margin-top: 50px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    padding-left: 22px;
    float: left;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    align-items: center;
    letter-spacing: -0.015em;
}
.text373{
    width: 318px;
    height: 55px;
    margin-top: 50px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    padding-left: 22px;
    float: left;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
}
.text697{
    width: 642px;
    height: 55px;
    margin-top: 50px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    padding-left: 22px;
    float: left;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
}
.svg{
    width: 55px;
    height: 55px;
    margin-top: 50px;
    border: 1px solid #828282;
    background: #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    float: left;
}
.svg svg{
    width: 18px;
    height: 19px;
    margin: 18px;
}
.margin{
    width: 50px;
    height: 1px;
    float: left;
}

.acessi{
    width: 627px;
    height: 55px;
    margin-top: 50px;
    margin-right: 16px;
    float: left;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
}
.acessi p{
    margin: 0;
}
.radio{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
}
.radio label{
    padding-top: 10px;
}
.radio input{
    width: 25px;
    height: 25px;
    border: 1px solid #828282;
    box-sizing: border-box;
    float: left;
}
.radio p{
    min-width: 95px;
    float: left;
}
.marginRadio{
    width: 52px;
    height: 1px;
    float: left;
}
.horario{
    width: 318px;
    height: 55px;
    margin-top: 50px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    padding-left: 22px;
    float: left;

    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    text-align: left;
    letter-spacing: -0.015em;
}
.svghora{
    width: 55px;
    height: 55px;
    margin-top: 50px;
    border: 1px solid #828282;
    background: #DDDDDD;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    float: left;
}
.svghora svg{
    width: 18px;
    height: 19px;
    margin: 18px;
}
.altcada button{
    width: 1023px;
    height: 55px;
    margin-top: 58px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}
