@import 'globalRubens.css';

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fff;
    color:#000;
    margin: 0;
}
.todo{
    width: 1074px;
    height: 597px;
    margin-left: auto;
    margin-right: auto;
    padding: 52px;
}
.link{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
    border: 1px solid #fff;
    clear:both;
}

.link a:link, 
      a:hover, 
      a:visited{
    text-decoration: none;
    color: #000;
}
.link svg{
    float: left;
}
.link p{
    margin-top: 0;
    margin-left: 5px;
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}
.circulo{
    width: 120px;
    height: 120px;
    margin: 20px;
    margin-bottom: 63px;
    border: 1px solid #000;
    border-radius: 50%;
    float: left;
}
.nomepla{
    margin-top: 41px;
    margin-bottom: 1px;
    float: left;
}
.nomepla h1{
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 57px;
    align-items: center;
    letter-spacing: -0.015em;
}
.nomepla a{
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #006CE5;
}
.infos{
    margin-left: 345px;
    margin-top: 41px;
    margin-bottom: 1px;
    float: left;
}
.infos p{
    margin: 1px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
}
#status{ 
    color: #49D983;
}
.beneficios{
    height: 60px;
    margin-top: 63px;
    clear: both;
}
.beneficios h3{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
}
.beneficios p{
    background: #C4C4C4;
    border-radius: 100px;
    margin: 3px;
    float: left;
    height: 33px;
    padding-top: 7px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
}
#alt{
    width: 162px;
    
}
#res{
    width: 182px;
}
#libfav{
    width: 184px;
}
#doa{
    width: 193px;
}
#libcon{
    width: 233px;
}