@import url('global.css');

#container-landing{
    max-width:1150px;
    margin:auto;
}
#container-landing .button-return{
    margin:57px 0 82px 0;
}
#container-landing .button-return button{
    background:none;
}
#container-landing .button-return span img{
    width:12.29px;
    height:24.59px;
}
#container-landing .button-return span{
    font-size:18px;
    margin: 3px;
}
.form-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.form-container .form-block .form-data{
    padding:2rem;
    border-radius:25px;
    background: #F9F9F9;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1);
    border: 3px solid #fff;
}
.form-container .form-block .form-data .input-field{
    position:relative;
}
.form-container .form-block .form-data .input-field:nth-child(2){
    display: flex;
    flex-direction:row;
}
.form-container .form-block .form-data .input-field:nth-child(2) input:last-child{
    width:160.3px;
    margin-left:15px;
}
.form-container .form-block .form-data .input-field input::placeholder{
    color:rgba(0, 0, 0, 0.3);
}
.form-container .form-block .form-data .input-field{
    margin:22.9px 0;
}
.form-container .form-block .form-data .input-field input{
    width:100%;
    padding:9px 15px;
    background: rgba(255, 255, 255, 1);
    border-radius:5px;
    border:0;
}
.form-container .form-block .submit-block input{
    width:100%;
    padding:9px 15px;
    border-radius:5px;
    border:1px solid #ccc;
    cursor:pointer;
    background:#4361EE;
    color:#fff;
    font-size:15px;
}
.card-user{
    padding:2rem;
    border:0;
    mix-blend-mode: soft-light;
    border-radius: 40px;
    width:395px;
    color:#fff;
    background: linear-gradient(51.19deg, rgba(27, 55, 188, 0.2) 32.82%, rgba(255, 255, 255, 0) 110.28%), linear-gradient(0deg, #4361EE, #4361EE);
    box-shadow: 0px 25px 25px rgba(67, 97, 238, 0.35);
}
.card-user .box{
    width:58px;
    height:42px;
    background: rgba(255, 255, 255, 0.5);
    border:0;
    border-radius: 15px;
    margin:30px 0 20px 0;
}
.card-user .username{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin:15px 0 10px 0;
    position:relative;
}
.card-user .username section h5{
    font-size:10px;
    font-weight:normal;
    margin-bottom:5px;
}



