@import 'globalRubens.css';

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #fff;
    color:#000;
    margin: 0;
}
.bloco{
    width: 626px;
    height: 768px;
    margin: 100px auto 100px auto;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 0 50px;
}
.bloco h1{
    margin: 106px auto 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
}
.bloco p{

    width: 487px;
    height: 54px;
    margin: 0 auto 55px auto;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}
.text526{
    width: 526px;
    height: 55px;
    margin-bottom: 55px;
    float: left;
}
.text526 input{
    padding-left: 22px;
    width: 441px;
    height: 55px;
    border-radius: 0px 5px 5px 0px;
}
.text279{
    width: 279px;
    height: 55px;
    margin-bottom: 55px;
    margin-right: 50px;
    float: left;
}
.text279 input{
    padding-left: 22px;
    width: 199px;
    height: 55px;
    border-radius: 0px 5px 5px 0px;
}
.text196{
    width: 139px;
    height: 55px;
    margin-bottom: 55px;
    float: left;
}
.text196 input{
    width: 137px;
    height: 55px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
}
.svg{
    width: 18px;
    height: 19px;
    padding: 18px;
    float: left;
    background: #DDDDDD;
    border: 1px solid #828282;
    border-radius: 5px 0px 0px 5px;
}
.svgval{
    width: 18px;
    height: 19px;
    padding: 18px;
    float: left;
    background: #DDDDDD;
    border: 1px solid #828282;
    border-radius: 0px 5px 5px 0px;
}

input{
    padding: 0;
    border: 1px solid #828282;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: -0.015em;
    
}
#btn{
    width: 526px;
    height: 55px;
    margin-top: 8px;
    background: #DDDDDD;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}