@import url('global.css');

body{
    background: linear-gradient(63.18deg, #94B4D1 0%, #CCDCEB 42.12%, rgba(219, 247, 245, 0.65) 73.36%, #EDF2F4 85.53%, #FFFFFF 99.7%);
}
#container-landing .menu-bar{
    display:flex;
    justify-content: center;
    align-items: center;
}
#container-landing .main-page{
    display:grid;
    grid-template-rows:45vh 45vh;
    grid-template-columns: 35vw 35vw 25vw;
    grid-template-areas:"section main article"
                        "section main article";
}
#container-landing .main-page section{
    grid-area:section;
    position:relative;
}
#container-landing .main-page section img{
    width:200px;
    float:right
}
#container-landing .main-page main{
    grid-area:main;
    width:100%;
}
#container-landing .main-page article{
    grid-area:article;
    position:relative;
}
#container-landing .main-page article img{
    width: 300px;
    position:absolute;
    bottom:0;
    left:0;
}
#container-landing .menu-bar img{
    margin-top:33px;
    width:120px;
    border-radius:6px;
}
#container-landing .form-container h3{
    font-weight:500;
    margin-top:0.5rem;
    color: rgba(45, 45, 45, 1);
}
#container-landing .form-container{
    border-radius:30px;
    border: 2px solid #FFFFFF;
    padding:0 2rem;
    margin: 20vh 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
    background:rgba(255,255,255,0.5);
    width:100%;
}
#container-landing .form-container form{
    overflow:hidden;
    margin:30px 0;
    width:100%;
}
#container-landing .form-container form .input-field{
    position:relative;
    margin:1rem 0 2rem 0;
}
#container-landing .form-container .input-field img{
    position:absolute;
    right:14px;
    top:10px;
    width:20px;
}
#container-landing .form-container .input-field input, input[type="submit"]{
    width:100%;
    padding:9px 15px;
    outline:0;
    border-radius:5px;
    border:0;
}
#container-landing .form-container .input-field input:focus{
   box-shadow:0px 4px 16px rgba(0,0,0,0.2);
}
.form-container .input-field input::placeholder{
    color:rgba(0,0,0,0.4);
    font-size:15px;
}
.form-container .submit-block input[type="submit"]{
    cursor:pointer;
    background:#4361EE;
    color:#fff;
    border-radius:30px;
    font-size:16px;
}
.form-container .submit-block input[type="submit"]:hover{
    outline:0;
    box-shadow:none;
    filter:brightness(0.9);
    transition:filter  200ms, letter-spacing 250ms;
    letter-spacing:0.7px;
}

