:root{
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --white:#fff;
    --background:#f2f3f5;
    --gray-line:#DCDDE0;
    --text:#666666;
    --text-highlight:#B3B9FF;
    --title:#2E384D;
    --red:#E83F5B;
    --green:#4CD62B;
    --blue:#5965E0;
    --blue-dark:#4953B8;
    --blue-twitter:#2AA9E0;
    
    font-size:93.75%;
}
*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}
button{
    cursor:pointer;
    border:0;
    box-shadow:none;
    outline:0;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
#container-landing{
    min-width:980px;
    position:relative;
}
#container-landing + container-page{
    background:#f2f3f5;
}
.container-page{
    background:#f5f3f4;
}
#container-landing .menu-bar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    height:15vh; 
    margin:0 40px 86px 40px;
    position:relative;
}
#container-landing .menu-bar ul li{
    display:inline;
    padding:0 26px;
    color:#23286b;
    font:600 16px "Poppins", sans-serif;
    cursor:pointer;
}
#container-landing .menu-bar ul li:hover{
    color:var(--blue-twitter);
    transition-duration:250ms;
}
#container-landing .menu-bar img{
    width:200px;
    background:none;
}

