@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
:root{
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --white:#fff;
    --background:#f2f3f5;
    --gray-line:#DCDDE0;
    --text:#666666;
    --text-highlight:#B3B9FF;
    --title:#2E384D;
    --red:#E83F5B;
    --green:#4CD62B;
    --blue:#5965E0;
    --blue-dark:#4953B8;
    --blue-twitter:#2AA9E0;

    font-family: 'Blinker', sans-serif;
}

#container-landing{
    min-width:980px;
    position:relative;
}
#container-landing + container-page{
    background:#f2f3f5;
}
.container-page{
    background:#f5f3f4;
}
#container-landing .menu-bar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    height:90px; 
    margin:0 40px 0 40px;
    position:relative;
}
#container-landing .menu-bar ul li:nth-child(3){
    margin-right:40px;
}
#container-landing .menu-bar ul i{
    font-size:22px;
    color:var(--blue);
    cursor:pointer;
}
#container-landing .menu-bar ul li{
    display:inline;
    padding:0 26px;
    color:#23286b;
    font:600 16px "Ubuntu", sans-serif;
    cursor:pointer;
}
#container-landing .menu-bar ul li:hover{
    color:var(--blue-twitter);
    transition-duration:250ms;
}
#container-landing .menu-bar .logo-icon{
    width:200px;
}
.rodape{
    width: 100%;
    background-color: #fff;
    height: auto;
    font-family:"Ubuntu", sans-serif;
    bottom: 0;
    position:relative;
}
.rodapeprin{
    border-top: 1px solid #333;
    background-color:#4361EE;
    color: #fff;
    
}
.grupos {
    margin:auto;
    width:90%;

    }
.grupos a:link{
    color: #fff;
    text-decoration: none;
}
.grupos a:visited{
    color: #fff;
    text-decoration: none;
}
.grupos a:hover{
    color: #000;
    text-decoration: none;
}

.top10 {
    display:inline;
    float:left;
    width:20%;
    margin-left: 12%;
    }
.top10 h3{
    margin-bottom: 10px;
}
.social a{
    margin: 0px 5px 0px 5px;
}
path{
    fill: #fff;
}

/*segundo rodape*/

.subRodape{
    border-top: 1px solid #333;
    height: 40px;
}
.subRodape p{
    margin-top: 10px;
}
.grupo{
    margin:auto;
    width:90%;
    height: 100%;
}

.txt1{
    display:inline;
    float:left;
    width:40%;
    margin-left: 12%;
    height: 100%;
}
.txt2{
    display:inline;
    float:right;
    text-align: left;
    width:24%;
    margin-left: 12%;
    height: 100%;
}
#container-landing .menu-bar .logo-icon{
    width:120px;
    border-radius:6px;
}

