@import url('global.css');

body{
    min-height:100vmin;
    min-width:100vmin;
}
#container-landing{
    min-width:980px;
    position:relative;
}
#container-landing + container-page{
    background:#f2f3f5;
}
#container-landing .background-image{
    background-image:url('../images/food.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#container-landing .menu-bar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    height:15vh; 
    margin:0 40px 86px 40px;
}
#container-landing .menu-bar ul .bar{
    width:35px;
    height:2px;
    margin-bottom:11px;
    border-radius:50px;
    background: rgba(67, 97, 238, 1);
}
#container-landing .menu-bar .logo-icon{
    width:120px;
    border-radius:6px;
}
#container-landing .menu-bar ul button{
    margin-left:28px;
    border:2px solid var(--gray-line);
    background:none;
    font:400 1rem "Ubuntu", sans-serif;
    cursor:pointer;
    width:140px;
    padding:15px 0;
    border-radius:5px;
}
#container-landing main{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#container-landing main form{
    width:600px;
    display:flex;
    flex-direction:row;
    position:relative;
    margin-bottom: 33px;
}
#container-landing main form .input-block{
    width:100%;
    box-shadow:0px 4px 16px rgba(0,0,0,0.2);
    border-radius:10px;
    margin-bottom:80px;
}
#container-landing main form .input-block button{
    width:15%;
    height:100%;
    background:#fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#container-landing main form .input-block button img{
    width:25px;
    margin-top:3px;
}
#container-landing main form input[type="text"]{
    width:85%;
    float:right;
    outline:none;
    color:#2D2D2D;
    line-height:34px;
    font:600 16px "Ubuntu", sans-serif;
    padding:10px 10px;
    flex:100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border:0;
    letter-spacing:0.4px;
    cursor:pointer;
    --webkit-tap-highlight-color: transparent;
}
#container-landing main form input[type="submit"]{
    margin-left:10px;
    border-radius:10px;
    cursor:pointer;
    background-color:var(--red);
    color:#fff;
    background: rgba(67, 97, 238, 1);
    width:115px;
    border:0;
    padding:10px 0;
    font:600 16px "Ubuntu", sans-serif;
}
#container-landing main form input[type="submit"]:hover{
    filter:brightness(0.85);
    transition:filter 200ms;
    box-shadow:none;
}
#container-landing main form input::placeholder{
    color:#a6a6a6;
    font-weight: normal;
    font-style:normal;
}
#container-landing main h1{
    font-family:"Ubuntu", sans-serif;
    color: rgba(67, 97, 238, 1);
    font-weight:700;
    font-size:40px;
}
#container-landing main p{
    margin:15px 0 44px 0;
    font-family:"Ubuntu", sans-serif;
}
.selection-content{
    margin:22px 63px;
    width:100%;
}
.selection-content header{
    font:normal 20px "Ubuntu", sans-serif;
    color: rgba(67, 97, 238, 1);
}
.selection-content .options-select{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.selection-content .options-select div{
    margin:28px 11px 0 11px;
}
.outline-container-situation{
    margin:24px auto;
    margin-bottom: 0;
    max-width:1150px;
    display:block;
}
.landing-section{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    width:100%;
}
.landing-section div{
   margin:0 30px;
}
.landing-section div img{
    width:300px;
}
.landing-section div:nth-child(2){
    margin:0 10px;
}
#container-landing .grid-container{
    display:flex;
    justify-content: center;
    align-items:center;
    max-width:1100px;
    margin:0 auto;
}
#container-landing .grid-container .grid-subject{
    width:100%;
    display:grid;
    grid-template-rows:30vh 30vh;
    grid-template-columns:90vh 90vh;
    grid-template-areas:"main article"
                        "main article";
}
.grid-container .grid-subject main{
    grid-area:main;
}
.grid-container .grid-subject main img{
    height:100%;
}
.grid-container .grid-subject article{
    grid-area:article;
}
.grid-container .grid-subject article h2{
    margin:40px 0 35px 0;;
    color: rgba(67, 97, 238, 1);
    font-size:30px;
}
.grid-container .grid-subject article p{
    color: rgba(45, 45, 42, 1);
    width:489px;
    font-size:22px;
}
.grid-container .grid-subject article p:last-child{
    color: rgba(238, 125, 20, 1);
    font-size:22px;
    font-weight:700;
}
#container-landing .footer-image img{
    width:900px;
}
#container-landing .footer-image{
    margin:80px 0 70px 0;
}
