@import 'globalRubens.css';

html{
    height: 100%;
    width: 100%;
}
body{
    height: 99vmin;
    background-color: #fff;
    color:#000;
    font-family: 'Hind Siliguri', sans-serif;
}
.todo{
    width: 1300px;
    height: 1228px;
    margin-left: auto;
    margin-right: auto;
}

.tabela{
    height: 1021px;
    width: 560px;
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 0px 6px 15px 7px rgba(0, 0, 0, 0.08);
    border-radius: 25px;;
    padding: 30px;
    float: left;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}
.tabela p{
    float: left;
    margin-bottom: 1vmin;
    margin-top: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.015em;

    color: #1E3F9B;
}



.tabelas{
    width: 540px;
    margin: 10px;
    height: 249px;
    background: #FFFFFF;
    box-shadow: 0px 6px 15px 7px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    padding: 30px;
    float: left;
}
.tabelas p{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 1vmin;
    margin-top: 0;
    float: left;
}

.tabelas2{
    width: 230px;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 0px 6px 15px 7px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    padding: 30px;
    float: left;
    
}
.tabelas2 p{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 0;
    margin-top: 0;

    
}
.tabelas2 button{
    width: 32px;
    height: 32px;
    background-color: #4361EE;
    color: #fff;
    border: 1px transparent;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
}


.limpar button{
    width: 50px;
    padding: 0;
    float: left;
    background: transparent;
    border: transparent;
    margin-left: 31px;
}
.limpar h1{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
}
.limpar p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.015em;

    color: #4361EE;
}


#busca{
    width: 184px;
    height: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    border: transparent;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;

}





.tbreservas{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}
.tbreservas table{
    width: auto;
    height: auto;
    margin: 0;
}
.tbreservas th, .tbreservas td{
    text-align: left;
    border-bottom: 1px solid #D9D9D9;
    padding: 0 6px 0 1px;
    width: 100px;
}
.tbreservas th {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    height: 40px;
  }
  .tbreservas td{
    width: auto;
    height: 60px;
    max-height: 40px;
    max-width: 170px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.015em;

    color: #898F9D;
}






.tbminjor{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 50px;
    color: #fff;
}
.tbminjor table{
    width: auto;
    height: auto;
    margin: 0;
}
.tbminjor th, .tbminjor td{
    height: auto;
    text-align: center;
    padding: 0 6px 0 1px;
}
.tbminjor th{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

}
.tbminjor td{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 65px;
    border-bottom: 1px solid #FFF;
    max-height: 30px;
    max-width: 170px;
    padding-top: 14px;
    padding-bottom: 42px;
}





.tbConsulres{
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

.tbConsulres table{
    max-width: 20vmin;
    max-height:10px;
    overflow: auto;
    height: auto;
    margin: auto;
    
}

.tbConsulres td, .tbConsulres th{
    height: 30px;
}
.tbConsulres th{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.015em;

    color: #2D2D2D;
}
.tbConsulres td{
    border-bottom: 1px solid #D9D9D9;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.015em;

    color: #898F9D;
}

.tbDorec{
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

.tbDorec table{
    max-width: 20vmin;
    max-height: 30vmin;
    margin: auto;
}
.tbDorec td, .tbDorec th{
    border-bottom: 1px solid #D9D9D9;
    height: 20px;
    padding-top: 30px;
}
.tbDorec th{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding-right: 16px;
    color: #D9D9D9;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.015em;
}
.tbDorec td{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.015em;

    color: #727B92;
}



.tbmeuspag{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}
.tbmeuspag table{
    width: auto;
    height: auto;
    margin: 0;
}
.tbmeuspag th, .tbmeuspag td{
    text-align: left;
    border-bottom: 1px solid #D9D9D9;
    padding: 0 6px 0 1px;
}
.tbmeuspag th {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    height: 30px;
    color: #D9D9D9;
  }
.tbmeuspag td{
    padding-top: 20px;
    height: 30px;
    max-height: 30px;
    max-width: 170px;
    color: #898F9D;
}
.tbmeuspag button{
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: 5px;
}







.ativa{
    background-color: #49d983;
}

.desativada{
    background-color: #ee7d14;
}

.ativa, .desativada{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: transparent;
    float: left;
}

.ativa2{
    background-color: #49d983;
}

.desativada2{
    background-color: #ee7d14;
}

.ativa2, .desativada2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: transparent;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

svg{

width: 31.25px;
height: 25px;

  }

  
.select{
    position :relative;
    display: inline-block;
    width :230px;
    height: 30px;
    margin-left: 166px;
    border: 1px transparent;
    border-radius: 5px;
  
  }
  .select  select{
      width :230px;
      height: 30px;
      display :inline-block;
      cursor: pointer;
      padding: 0px 15px 0px 15px;
      outline: 0;
      border: 0;
      border-radius: 5px;
      background: #fff;
      color: #000;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.015em;

    }
  .select option{
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      align-items: center;
      text-align: center;
      letter-spacing: -0.015em;
    }
    select::-ms-expand{
        display: none;
      }
      select:hover,
      select:focus{
        color: #000;
        background: #fff;
      } 
      select:disabled{
        opacity:0.5;
        pointer-events: none;
      }
  .select__arrow{
    position:absolute;
    top:12px;
    right:15px;
    width:0;
    height:0;
    pointer-events:none;
    border-style:solid;
    border-width:8px 5px 0 5px;
    border-color:#333 transparent transparent transparent;
  }