@import url('global.css');

body{
    background-image:url('../images/track.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
#modal-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background:rgba(0,0,0, 0.7);
}
#modal-container .form-container{
    border-radius:.8rem;
    display:flex;
    padding:40px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width:900px;
    text-align: center;
    background:#fff;
}
#modal-container .form-container .location-icon{
    float:left;
    width:10%;
}
.form-container .location-icon svg{
    margin-top:5px;
    margin-left:8px;
    height:20px;
    width:20px;
}
#modal-container .form-container > div{
    margin-bottom:19px;
}
#modal-container .form-container img{
    width:40.18px;
    height:50px;
}
#modal-container .form-container h2{
    color: rgba(67, 97, 238, 1);
    width:350px;
}
#modal-container .form-container form{
    margin-top:1.5rem;
    width:300px;
}
#modal-container .form-container .input-field{
    border: 2px solid rgba(67, 97, 238, 1);
    margin-bottom:1.5rem;
    border-radius:5px;
}
#modal-container .form-container .input-field button{
    background:rgba(67, 97, 238, 0.2);
    height:100%;
    width:10%;
}
#modal-container .form-container .input-field button img{
    width:20px;
    height:100%;
    margin-top:5px;
    margin-left:8px;
}
#modal-container .form-container .input-field input[type="search"]{
    background: rgba(67, 97, 238, 0.2);
    border:none;
    float:right;
    width:90%;
    font-size:15px;
    padding:6px 15px;
    outline:0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#modal-container .form-container input[type="submit"]{
    padding:8px 15px;
    outline:0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: left;
    width:90%;
}
.form-container .input-field input::placeholder{
    color:rgba(0,0,0,0.4);
    font-size:15px;
}
.form-container .submit-block{
    margin-bottom:1rem;
    background: rgba(78, 186, 181, 1);
}
.form-container .submit-block input[type="submit"]{
    cursor:pointer;
    border:0;
    background: rgba(78, 186, 181, 1);
    color:#fff;
    width:100%;
    border-radius:5px;
}
.form-container .submit-block{
    border-radius:5px;
}
.form-container .alternative-class{
    width:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.form-container .alternative-class p:nth-child(1){
    color:#808080;
    font-size:14px;
}
.form-container .alternative-class p:nth-child(2){
    margin:5px 0;
    color:#c3c3c3;
    font-size:12px;
}
.form-container .alternative-class h4{
    margin-bottom:15px;
    color:#006ce5;
}

