@import url('global.css');

#container-landing{
    font-family:Helvetica;
}
#container-landing .container-content-privacy{
    width:1000px;
    margin:0 auto 25px auto;;
}
#container-landing .privacy-container{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom:60px;
}
#container-landing article h3{
    margin-bottom:10px;
}
#container-landing article p{
    margin:15px 0;
    text-align: justify;
}
#container-landing .footer-section-copyright{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    align-content:center;
    height:10vh;
    font:normal 15px "Inter", sans-serif;
    border-top:1px solid #444;
}
#container-landing .footer-section-copyright article{
    margin:0 50px;
}

