@import url('global.css');

#only-screen{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#only-screen .outline-color{
    border:2px solid #ddd;
    padding:3rem;
    border-radius:.8rem;
}
#only-screen .outline-color .main-content{
    width:300px;
}
#only-screen .outline-color h2{
    color: rgba(45, 45, 45, 1);
}
#only-screen .outline-color p{
    color:#4d4d4d;
    margin:10px 0 20px 0;
    width:300px;
    text-align: center;
}
#only-screen .outline-color footer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
#only-screen .outline-color footer button{
    padding:9px 0;
    margin:0 5px;
    border-radius:20px;
    font-size:16px;
    width:150px;
    color:#FFFFFF;
    background:#4361EE;
}



